<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="_log-nlog-internal.log">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <!-- info-log to file  -->
    <target xsi:type="File" name="info-log" fileName="_log-pot-all-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=shorttype,method,stacktrace}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />
    <!-- error-log to file -->
    <target xsi:type="File" name="error-log" fileName="_log-pot-exception-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=shorttype,method,stacktrace}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />
  </targets>

  <rules>
    <!--All logs go the the info-log -->
    <logger name="*" minlevel="Trace" writeTo="info-log" />
    <!-- Errors go to the error log -->
    <logger name="*" minlevel="Error" writeTo="error-log" />
  </rules>

</nlog>